<% if events.empty? %>
    <p>No events :( Go talk to some friends!</p>
<% else %>
    <ul>
        <% events.each do |r| %>
            <li class="box">
                <div class="columns">
                    <div class="column is-narrow contact-thumb">
                        <figure class="image is-24x24">
                            <%= cl_image_tag(r.display_contact_image, quality: 80, gravity: 'faces', height: 35, width: 35, fetch_format: :auto, crop: 'thumb', class: 'is-rounded') %>
                            <%# Not sure if gravity counts as a transformation for the default image. If so, will need to alter function to include gravity or not %>
                        </figure>
                    </div>
                    <div class="column contact-thumb">
                        <%= link_to r.first_name, contact_path(r.contact) %>:
                        <%= r.interaction_type %> on 
                        <%= r.date.strftime("%m/%d/%y") %>
                        <%= link_to "ðŸ—‘ï¸ Cancel Event", event_path(r),
                            class: 'button is-small is-danger is-light', 
                            method: :delete, data: {confirm: "Are you sure?"} if cancelable %>
                    </div>
                </div>

            </li>
        <% end %>
    </ul>
<% end %>