<section class="container homepage-container">
    <h1 class="title is-1">Hello <%= current_user.first_name %>!</h1>
    <div class="columns">
        <div class="column">
            <h4 class="title is-4">Upcoming Events:</h4>
            <%= render partial: 'updates', locals: {events: @upcoming_events, cancelable: true} %>
        </div>
        <div class="column">
            <h4 class="title is-4">Recent Events:</h4>
            <%= render partial: 'updates', locals: {events: @recent_events,  cancelable: false} %>
        </div>
    </div>
</section>

<div class="block"></div>

<section class="container homepage-container">
    <div class="columns">
        <div class="column">
            <h4 class="title is-4">You haven't contacted these people in over a week:</h4>
            <%= render partial: 'need_to_contact', locals: {people: @need_to_contact} %>
        </div>

        <div class="column">
            <h4 class="title is-4">Upcoming Birthdays:</h4>
            <%= render partial: 'birthdays', locals: {birthdays: @birthdays} %>
        </div>
    </div>
</section>
