<h1 class="title is-1 registration-title">Reset your password</h1>

<div class="columns registration-form">
  <div class="column is-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Send reset link", class: "button is-success" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  </div>
</div>
