<h1 class="title is-1">Edit Event</h1>

            <%= simple_form_for @event do |r| %>
                <%= r.input :interaction_type do %>
                    <div class="control">
                        <div class="select">
                            <%= r.select :interaction_type, ["call", "text", "message", "videochat", "email", "mail", "solo_encounter", "group_encounter"] %>
                        </div>
                    </div>
                <% end %>

                <%= r.input :description, as: :text %>
                <%= r.input :date, as: :date, html5: true %>
                <%= r.submit 'Save Event', class: "button is-primary" %>
                <%= link_to "Cancel", :back, class: "button is-light" %>
            <% end %>