<h1>New Event</h1>

<%= form_with model: @contact, :url => contact_events_path, :method => :post do |f| %>
    <%= f.simple_fields_for :events do |r| %>
        <%= r.input :interaction_type, as: :select, prompt: 'Select type',
            collection: ["call", "text", "message", "videochat", "email", "mail", "solo_encounter", "group_encounter"] %>
        <%= r.input :description, as: :text %>
        <%= r.input :date, as: :date, html5: true %>
        <%= r.submit 'Save Event' %>
    <% end %>
<% end %>