
<div class="columns">
    <div class="column is-one-quarter">
        <%= simple_form_for contact, defaults: {input_html: {class: "input"}} do |f| %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
<%#             
            <div id="js-file" class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="contact[contact_image]">
                    <span class="file-cta">
                    <span class="file-label">
                        Choose a file…
                    </span>
                    </span>
                    <span class="file-name">
                    No file selected
                    </span>
                </label>
            </div> 
%>

            <%= f.input :contact_image, direct_upload: true %>
            <%= f.input :nickname %>
            <%= f.input :birthday, as: :date, html5: true, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:month, :day, :year] %>
            <%= f.input :address %>
            <%= f.input :email %>
            <%= f.input :phone_number, as: :tel %>
            <%= f.button :submit %>
            <%= link_to "Cancel", :back, class: "button is-light" %>
        <% end %>
    
    </div>
</div>

<%# <script>
  const fileInput = document.querySelector('#js-file input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#js-file .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script> %>