<h1>New Event</h1>

<%= form_with model: @contact, :url => contact_recent_events_path, :method => :post do |f| %>
    <%= f.fields_for :recent_events do |r| %>
        <%= r.label :interaction_type %>
        <%= r.text_field :interaction_type %>

        <%= r.label :description %>
        <%= r.text_field :description %>

        <%= r.label :date %>
        <%= r.text_field :date %>

        <%= r.submit :create %>
    <% end %>
<% end %>