<!DOCTYPE html>
<html>
  <head>
    <title>PersonalCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' if current_user %>
    <% flash.each do |type, msg| %>
      <% type = 'danger' if type == "error" %>
      <%= render partial: 'shared/flash_messages', locals: {type: type, msg: msg } %>
    <% end %>
    <%= yield %>
  </body>
  <%= render 'shared/footer' %>
</html>
